@model Doctor_Patient.Models.AddToRoleModel
@{
    ViewBag.Title = "AddRole";
}

<h2>Add user with email to a role:</h2>
@using (Html.BeginForm("AddRoleToUser", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m=>m.SelectedRole, new SelectList(Model.Roles))
    </div>
    <button type="submit" class="btn btn-default">Save</button>
}

