@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="~/Content/ContactPage.css" />

</head>
<main aria-labelledby="title">
    <div class="contact">
        <div class="FormContent">
            <h1>Contact Us</h1>
            <p>We'd love to hear from you!</p>

            <div class="contact-form">
                <form action="/Games/Index" method="get">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Your Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                    <br />
                    <button type="submit" id="SendInfo">Send</button>
                </form>
            </div>
        </div>
        <div class="img-container">
            <img src="~/Images/logo.png" width="300px">
        </div>
    </div>
</main>
