@model AudMVCBaza.Models.ClientMovie
@{
    ViewBag.Title = "InsertNewClient";
}

<h2>Insert new client for the movie: @Model.movie.Name</h2>

@using (Html.BeginForm("InsertClientMovie", "Movies", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(z=>z.ClientId, 
       new SelectList(Model.clients, "Id", "Name"),
       new { @class="form-control"})
    
       @Html.HiddenFor(z=>z.MoiveId)
    </div>

    <button type="submit" class="btn btn-primary">Add client to movie</button>
}

